{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
        <h1>Pending HR Approvals</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <form action="{{ url_for('approve_hr', user_id=user.id) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form action="{{ url_for('disapprove_hr', user_id=user.id) }}" method="post" style="display: inline-block;">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <button type="submit" class="btn btn-danger">Disapprove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
